<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zaoqibu.zaoqibukindergartenmusic" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TermActivity"
            android:label="@string/title_activity_term"
            android:screenOrientation="portrait" />

        <activity
            android:name=".AboutActivity"
            android:label="@string/action_about"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="549705f8fd98c5db2d0001ff" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="umeng" />
    </application>

</manifest>
